@{
    ViewBag.Title = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">

    <!-- 指示符 -->
    <ul class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active">
        </li>
        <li data-target="#myCarousel" data-slide-to="1">
        </li>
    </ul>
    <p></p>
    <!-- 轮播图片 -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/image/carousel/image_1.png">
        </div>
        <div class="item">
            <img src="~/image/carousel/image_2.png">
        </div>
    </div>

    <!-- 左右切换按钮 -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

</div>

<div id="part_1" class="wrapper">
    <div class="content">
        <div id="text_1">
            <h1 class="text-center">
                <font size="6">
                    顺水业务介绍
                </font>
                <p></p>
                <font size="3">
                    基于物流，联通世界
                </font>
            </h1>
        </div>


    </div>
</div>

<!--服务介绍-->
<div class="yun-main-solution">
    <div class="yun-main-hd">
        <h3 class="modal-title" size="20">成熟、领先的运输解决方案</h3>
        <p class="yun-main-des">行业纵深，直达痛点，专业经验为您解决多种业务难题</p>
    </div>
    <div class="yun-main-bd">
        <div class="yun-solution-slider-content">
            <ul class="yun-solution-wrap">
                <li class="yun-solution-item  wapSolution current" style="background: url(statics/images/dsy.jpg) center center no-repeat;">
                    <div class="yun-solution-item-content">
                        <div class="yun-solution-text-wrap">
                            <dl>
                                <dt class="yun-solution-title"><em>标准快运</em> </dt>
                                <dd class="yun-solution-des">标准定价与标准操作流程，为客户提供安全可靠、服务专业、高性价比运输体验。</dd>
                            </dl>
                        </div>
                    </div>
                </li>
                <li class="yun-solution-item wapSolution" style="background: url(statics/images/tgy.jpg) center center no-repeat;">
                    <div class="yun-solution-item-content">
                        <div class="yun-solution-text-wrap">
                            <dl>
                                <dt class="yun-solution-title"><em>仓储服务</em> </dt>
                                <dd class="yun-solution-des">顺水依托自身强大的仓储和运输网络资源，为电商客户打造的一站式物流服务。</dd>
                            </dl>
                        </div>
                    </div>
                </li>
                <li class="yun-solution-item" style="background: url(statics/images/sjy.jpg) center center no-repeat;">
                    <div class="yun-solution-item-content">
                        <div class="yun-solution-text-wrap">
                            <dl>
                                <dt class="yun-solution-title"><em>特殊快件</em> </dt>
                                <dd class="yun-solution-des">保障生鲜类、易碎类和大件等快件的配送时效和商品品质，实现同类产品优先配载、优先派送，面向特殊快件的客户推出的专属快递服务。</dd>
                            </dl>
                        </div>
                    </div>
                </li>
                <li class="yun-solution-item wapSolution" style="background: url(statics/images/wly.jpg) center center no-repeat;">
                    <div class="yun-solution-item-content">
                        <div class="yun-solution-text-wrap">
                            <dl>
                                <dt class="yun-solution-title"><em>时效服务</em> </dt>
                                <dd class="yun-solution-des">依托顺水稳定、高效、灵活的转运、配送站点，为政府、企业与个人提供物流的精准时间送达服务，目前拥有当日达、次日达、三日达等服务。</dd>
                            </dl>
                        </div>
                    </div>
                </li>
                <li class="yun-solution-item" style="background: url(statics/images/zny.jpg) center center no-repeat;">
                    <div class="yun-solution-item-content">
                        <div class="yun-solution-text-wrap">
                            <dl>
                                <dt class="yun-solution-title"><em>增值服务</em> </dt>
                                <dd class="yun-solution-des">依托顺水云技术和大数据能力，整合顺水一直以来的数据资源，为客户提供保价、货到付款、代收货款与签单返还等服务。</dd>
                            </dl>
                        </div>
                    </div>
                </li>
                <li class="yun-solution-item" style="background: url(statics/images/cyy.jpg) center center no-repeat;">
                    <div class="yun-solution-item-content">
                        <div class="yun-solution-text-wrap">
                            <dl>
                                <dt class="yun-solution-title"><em>小票零担</em> </dt>
                                <dd class="yun-solution-des">主营10kg以上产品，重量产品主打10-300kg小票零担；全程采用现代化作业设备、科学化管理，个性化增值服务，不断优化升级服务，全面保障货物时效，让客户放心满意。 </dd>
                            </dl>
                        </div>
                    </div>
                </li>
                <li class="yun-solution-item" style="background: url(statics/images/jry.jpg) center center no-repeat;">
                    <div class="yun-solution-item-content">
                        <div class="yun-solution-text-wrap">
                            <dl>
                                <dt class="yun-solution-title"><em>大票零担</em> </dt>
                                <dd class="yun-solution-des">定位于300kg以上的快运服务,拥有产品管家式服务、仓配链服务与项目客户专享服务。为每一位客户提供优惠的价格，优质的服务，全力保障你的货物安全送达。</dd>
                            </dl>
                        </div>
                    </div>
                </li>
                <li class="yun-solution-item" style="background: url(statics/images/api.jpg) center center no-repeat;">
                    <div class="yun-solution-item-content">
                        <div class="yun-solution-text-wrap">
                            <dl>
                                <dt class="yun-solution-title"><em>定制服务</em> </dt>
                                <dd class="yun-solution-des">定制服务是为客户提供的个性化预约服务的一部分，主要为上班族、移动购物等消费者量身定制的服务方案，解决休闲及工作时段收寄件不便的困境。</dd>
                            </dl>
                        </div>
                    </div>
                </li>
            </ul>
            <a href="javascript:;" class="yunfont yun-btn-more js-btn-more">展开全部</a>
            <div class="yun-arrow-wrap yun-arrow-current1" id="yun-arrow-wrap">
                <div class="yun-arrow-item"></div>
                <div class="yun-arrow-item yun-arrow-triangle"></div>
                <div class="yun-arrow-item"></div>
            </div>
        </div>
        <div id="js-sliderBox" class="w yun-solution-list-wrap hidden-xs" style="position: relative;">
            <ul class="yun-solution-list" style="width: 1200px; left: 0px; position: absolute;">
                <li class="yun-solution-list-item current" data-slider-idx="0" style="width: 150px; height: 77px; float: left;">
                    <div class="img-wrap" style="background-image: url(statics/images/dsy.png); background-position: 0px 0px;"></div>
                    <p class="yun-solution-text">
                        标准快运
                    </p>
                </li>
                <li class="yun-solution-list-item" data-slider-idx="1" style="width: 140px; height: 77px; float: left;">
                    <div class="img-wrap" style="background-image: url(statics/images/tgy.png); background-position: 0px 0px;"></div>
                    <p class="yun-solution-text">
                        仓储服务
                    </p>
                </li>
                <li class="yun-solution-list-item" data-slider-idx="2" style="width: 140px; height: 77px; float: left;">
                    <div class="img-wrap" style="background-image: url(statics/images/sjy.png); background-position: 0px 0px;"></div>
                    <p class="yun-solution-text">
                        特殊快件
                    </p>
                </li>
                <li class="yun-solution-list-item" data-slider-idx="3" style="width: 140px; height: 77px; float: left;">
                    <div class="img-wrap" style="background-image: url(statics/images/wly.png); background-position: 0px 0px;"></div>
                    <p class="yun-solution-text">
                        时效服务
                    </p>
                </li>
                <li class="yun-solution-list-item" data-slider-idx="4" style="width: 140px; height: 77px; float: left;">
                    <div class="img-wrap" style="background-image: url(statics/images/zny.png); background-position: 0px 0px;"></div>
                    <p class="yun-solution-text">
                        增值服务
                    </p>
                </li>
                <li class="yun-solution-list-item" data-slider-idx="5" style="width: 140px; height: 77px; float: left;">
                    <div class="img-wrap" style="background-image: url(statics/images/cyy.png); background-position: 0px 0px;"></div>
                    <p class="yun-solution-text">
                        小票零担
                    </p>
                </li>
                <li class="yun-solution-list-item" data-slider-idx="6" style="width: 140px; height: 77px; float: left;">
                    <div class="img-wrap" style="background-image: url(statics/images/jry.png); background-position: 0px 0px;"></div>
                    <p class="yun-solution-text">
                        大票零担
                    </p>
                </li>
                <li class="yun-solution-list-item" data-slider-idx="7" style="width: 140px; height: 77px; float: left;">
                    <div class="img-wrap" style="background-image: url(statics/images/api.png); background-position: 0px 0px;"></div>
                    <p class="yun-solution-text">
                        定制服务
                    </p>
                </li>
            </ul>
            <a href="javascript:;" class="yun-solution-btn yun-solution-btn-prev yunfont disabled"></a>
            <a href="javascript:;" class="yun-solution-btn yun-solution-btn-next yunfont disabled"></a>
        </div>
    </div>
</div>


<!--最新动态-->
<div style="right:80px; width:1300px;padding-top: 60px">
    <h1 class="text-center">新闻动态</h1>
    <ul class="news" style="padding-left:40px">
        <li class="news-item">
            <h3><a href="#">公司动态</a></h3>
            <dl>

                <dt>
                    <a href="#">

                        <img src="../image/news_pic1.jpg">

                    </a>
                </dt>
                <dd>
                    <a href="#"><span>06-06</span>【亿邦动力】商之翼CEO在中国电子商务大会演讲：借助同城电商达成资源共享，渗透到城市的每个细胞，实现精准扶贫！</a>
                </dd>

                <dd>
                    <a href="#"><span>07-06</span>“运筹帷幄，营在未来”—2018商之翼第三届客户运营交流沙龙会议成功举办</a>
                </dd>

            </dl>
        </li>
        <li class="news-item">
            <h3><a href="#"><i class="iconfont">&#xe686;</i>电商资讯</a></h3>
            <dl>

                <dt>
                    <a href="#">

                        <img src="../image/news_pic2.jpg">

                    </a>
                </dt>
                <dd>
                    <a href="#"><span>07-25</span>新零售：手机点餐触角已展露</a>
                </dd>

                <dd>
                    <a href="#"><span>07-18</span> 百世：有意回归供应链，布局全球</a>
                </dd>

            </dl>
        </li>
        <li class="news-item">
            <h3><a href="#"><i class="iconfont">&#xe686;</i>客户案例</a></h3>
            <dl>

                <dt>
                    <a href="#">

                        <img src="../image/news_pic3.jpg">

                    </a>
                </dt>
                <dd>
                    <a href="#"><span>04-28</span>客户案例 | 上海地产集团教给你如何玩转农产品电商</a>
                </dd>

                <dd>
                    <a href="#"><span>12-05</span>客户案例 | “互联网+购车”新模式正在成为新的风口 </a>
                </dd>

            </dl>
        </li>
    </ul>
</div>





<!--右侧回到顶部栏-->
<div class="side">
    <ul>
        <li id="qqonline"><i class="bgs1"></i>QQ咨询</li>
        <li class="shangqiao">
            <a href="javascript:;" rel="nofollow">
                <div><i class="bgs2"></i>在线咨询</div>
            </a>
        </li>
        <li class="sideewm">
            <i class="bgs3"></i>官方微信
            <div class="ewBox son"></div>
        </li>
        <li class="sideetel">
            <i class="bgs4"></i>联系电话
            <div class="telBox son">
                <dd class="bgs1"><span>座机</span>0755-xxxxxxxx</dd>
                <dd class="bgs2"><span>手机</span>133xxxxxxx</dd>
            </div>
        </li>
        <li id="yuyueshow"><i class="bgs5"></i>预约上门</li>
        <li class="sidetop" onClick="goTop()"><i class="bgs6"></i>返回顶部</li>
    </ul>
</div>

<script>
    function goTop() {
        $('html,body').animate({
            scrollTop: 0
        }, 500)
    }

</script>
<script src="Scripts/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(function () {
        //TAP
        $('ul.yun-solution-list li').click(function () {
            var index = $(this).index();
            $('ul.yun-solution-wrap li').removeClass('current').eq(index).addClass('current');
            $('#yun-arrow-wrap').attr('class', 'yun-arrow-wrap yun-arrow-current' + (index + 1));
        })
        //背景变换
        $('ul.yun-solution-list li').hover(function () {
            var that = $(this);
            var i = 0;
            bgChange = setInterval(function () {
                i += -84
                that.find('div').css('backgroundPositionY', i)
                if (i <= -2058) {
                    clearInterval(bgChange);
                }
            }, 50)
        }, function () {
            clearInterval(bgChange);
        })
    })
</script>