@{
    ViewBag.Title = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">

    <!-- 指示符 -->
    <ul class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active">
        </li>
        <li data-target="#myCarousel" data-slide-to="1">
        </li>
    </ul>
    <p></p>
    <!-- 轮播图片 -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/image/carousel/image_1.png">
        </div>
        <div class="item">
            <img src="~/image/carousel/image_2.png">
        </div>
    </div>

    <!-- 左右切换按钮 -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

</div>

<div id="part_1" class="wrapper">
    <div class="content">
        <div id="text_1">
            <h1 class="text-center">
                <font size="6" color="white">
                    顺水业务介绍
                </font>
                <p></p>
                <font size="3" color="white">
                    基于物流，联通世界
                </font>
            </h1>
        </div>


    </div>
</div>

<body>
    <div class="container-fluid">
        <section class="row tm-pt-4">
            <div class="col-12 tm-page-cols-container">
                <div class="tm-page-col-left">
                    <ul class="tabs clearfix filters-button-group">
                        <li>
                            <a href="#" class="active" data-filter="*">
                                <div class="tm-tab-icon"></div>
                                All Types
                            </a>
                        </li>
                        <li>
                            <a href="#" class="" data-filter=".category-1">
                                <div class="tm-tab-icon"></div>
                                First Category
                            </a>
                        </li>
                        <li>
                            <a href="#" class="" data-filter=".category-2">
                                <div class="tm-tab-icon"></div>
                                Second Type
                            </a>
                        </li>
                        <li>
                            <a href="#" class="" data-filter=".category-3">
                                <div class="tm-tab-icon"></div>
                                Third Category
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tm-page-col-right">
                    <div class="tm-gallery" id="tmGallery">
                        <div class="tm-gallery-item category-1">
                            <figure class="effect-bubba">
                                <img src="img/gallery/gallery-item-01.jpg"
                                     alt="Gallery item"
                                     class="img-fluid" />
                                <figcaption>
                                    <h2>Fresh <span>Bubba</span></h2>
                                    <p>Bubba likes to appear out of thin air.</p>
                                    <a href="#">View more</a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="tm-gallery-item category-2">
                            <figure class="effect-bubba">
                                <img src="img/gallery/gallery-item-02.jpg"
                                     alt="Gallery item"
                                     class="img-fluid" />
                                <figcaption>
                                    <h2>Fresh <span>Bubba</span></h2>
                                    <p>Bubba likes to appear out of thin air.</p>
                                    <a href="#">View more</a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="tm-gallery-item category-1">
                            <figure class="effect-bubba">
                                <img src="img/gallery/gallery-item-03.jpg"
                                     alt="Gallery item"
                                     class="img-fluid" />
                                <figcaption>
                                    <h2>Fresh <span>Bubba</span></h2>
                                    <p>Bubba likes to appear out of thin air.</p>
                                    <a href="#">View more</a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="tm-gallery-item category-3">
                            <figure class="effect-bubba">
                                <img src="img/gallery/gallery-item-04.jpg"
                                     alt="Gallery item"
                                     class="img-fluid" />
                                <figcaption>
                                    <h2>Fresh <span>Bubba</span></h2>
                                    <p>Bubba likes to appear out of thin air.</p>
                                    <a href="#">View more</a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="tm-gallery-item category-2">
                            <figure class="effect-bubba">
                                <img src="img/gallery/gallery-item-05.jpg"
                                     alt="Gallery item"
                                     class="img-fluid" />
                                <figcaption>
                                    <h2>Fresh <span>Bubba</span></h2>
                                    <p>Bubba likes to appear out of thin air.</p>
                                    <a href="#">View more</a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="tm-gallery-item category-3">
                            <figure class="effect-bubba">
                                <img src="img/gallery/gallery-item-06.jpg"
                                     alt="Gallery item"
                                     class="img-fluid" />
                                <figcaption>
                                    <h2>Fresh <span>Bubba</span></h2>
                                    <p>Bubba likes to appear out of thin air.</p>
                                    <a href="#">View more</a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="tm-gallery-item category-3">
                            <figure class="effect-bubba">
                                <img src="img/gallery/gallery-item-07.jpg"
                                     alt="Gallery item"
                                     class="img-fluid" />
                                <figcaption>
                                    <h2>Fresh <span>Bubba</span></h2>
                                    <p>Bubba likes to appear out of thin air.</p>
                                    <a href="#">View more</a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="tm-gallery-item category-1">
                            <figure class="effect-bubba">
                                <img src="img/gallery/gallery-item-08.jpg"
                                     alt="Gallery item"
                                     class="img-fluid" />
                                <figcaption>
                                    <h2>Fresh <span>Bubba</span></h2>
                                    <p>Bubba likes to appear out of thin air.</p>
                                    <a href="#">View more</a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="tm-gallery-item category-2">
                            <figure class="effect-bubba">
                                <img src="img/gallery/gallery-item-09.jpg"
                                     alt="Gallery item"
                                     class="img-fluid" />
                                <figcaption>
                                    <h2>Fresh <span>Bubba</span></h2>
                                    <p>Bubba likes to appear out of thin air.</p>
                                    <a href="#">View more</a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="tm-gallery-item category-3">
                            <figure class="effect-bubba">
                                <img src="img/gallery/gallery-item-10.jpg"
                                     alt="Gallery item"
                                     class="img-fluid" />
                                <figcaption>
                                    <h2>Fresh <span>Bubba</span></h2>
                                    <p>Bubba likes to appear out of thin air.</p>
                                    <a href="#">View more</a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="tm-gallery-item category-2">
                            <figure class="effect-bubba">
                                <img src="img/gallery/gallery-item-11.jpg"
                                     alt="Gallery item"
                                     class="img-fluid" />
                                <figcaption>
                                    <h2>Fresh <span>Bubba</span></h2>
                                    <p>Bubba likes to appear out of thin air.</p>
                                    <a href="#">View more</a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="tm-gallery-item category-1">
                            <figure class="effect-bubba">
                                <img src="image/111/test.jpg"
                                     alt="Gallery item"
                                     class="img-fluid" />
                                <figcaption>
                                    <h2>Fresh <span>Bubba</span></h2>
                                    <p>Bubba likes to appear out of thin air.</p>
                                    <a href="#">View more</a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

    <script>
        $(function () {
            /* Isotope Gallery */

            // init isotope
            var $gallery = $(".tm-gallery").isotope({
                itemSelector: ".tm-gallery-item",
                layoutMode: "fitRows"
            });
            // layout Isotope after each image loads
            $gallery.imagesLoaded().progress(function () {
                $gallery.isotope("layout");
            });

            $(".filters-button-group").on("click", "a", function () {
                var filterValue = $(this).attr("data-filter");
                $gallery.isotope({ filter: filterValue });
                console.log("Filter value: " + filterValue);
            });

        });
    </script>
