@{
    ViewBag.Title = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">

    <!-- 指示符 -->
    <ul class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active">
        </li>
        <li data-target="#myCarousel" data-slide-to="1">
        </li>
    </ul>
    <p></p>
    <!-- 轮播图片 -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/image/carousel/image_1.png">
        </div>
        <div class="item">
            <img src="~/image/carousel/image_2.png">
        </div>
    </div>

    <!-- 左右切换按钮 -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

</div>

<div id="part_1" class="wrapper">
    <div class="content">
        <div id="text_1">
            <h1 class="text-center">
                <font size="6" color="white">
                    顺水业务介绍
                </font>
                <p></p>
                <font size="3" color="white">
                    基于物流，联通世界
                </font>
            </h1>
        </div>


    </div>
</div>

<div style="height: 8000px;">
    <!--填充高度-->
</div>

    <div class="side">
        <ul>
            <li id="qqonline"><i class="bgs1"></i>QQ咨询</li>
            <li class="shangqiao">
                <a href="javascript:;" rel="nofollow">
                    <div><i class="bgs2"></i>在线咨询</div>
                </a>
            </li>
            <li class="sideewm">
                <i class="bgs3"></i>官方微信
                <div class="ewBox son"></div>
            </li>
            <li class="sideetel">
                <i class="bgs4"></i>联系电话
                <div class="telBox son">
                    <dd class="bgs1"><span>座机</span>0755-xxxxxxxx</dd>
                    <dd class="bgs2"><span>手机</span>133xxxxxxx</dd>
                </div>
            </li>
            <li id="yuyueshow"><i class="bgs5"></i>预约上门</li>
            <li class="sidetop" onClick="goTop()"><i class="bgs6"></i>返回顶部</li>
        </ul>
    </div>

    <script>
            function goTop() {
                $('html,body').animate({
                    scrollTop: 0
                }, 500)
            }

    </script>
